* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 0.2fr 1fr auto;
}

header {
    background-color: slateblue;
    color: gold;
    font-size: 3rem;
    display: grid;
    place-content: center;
}

main {
    display: grid;
    justify-items: center;
    align-items: baseline;
    padding-top: min(3rem, 10vw);
    background-color: gold;
    background-color: #f1f1f1;

}

.boardWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    background-color: #f1f1f1;
    background-color: rgba(255, 217, 0, 0.678);
    background-color: rgba(223, 221, 214, 0.678);
    border-radius: 1rem;
    box-shadow: 0rem 0rem 0.4rem #525252;
    padding: 2rem;
}

.display {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.player-wrapper {
    flex: 1;
    display: flex;
    align-items: center;

}

.player1,
.player2 {
    flex: 1;
    text-align: center;
    padding: 0.5rem ;
    border-radius: 0.2rem;
    background-color: #f1f1f1;
    box-shadow: 0.1rem 0.1rem 0.3rem 0.1rem #5252526b;
}

.selected-player {
    background-color: slateblue;
    background-color: gold;
}

.board {
    width: min(400px, 70vmin);
    height: min(400px, 70vmin);
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: max(3px, 0.5vmin);
    border-radius: 0.2rem;
    overflow: hidden;
    background-color: slateblue;
    box-shadow: 0.1rem 0.1rem 0.3rem 0.1rem #5252526b;
    position: relative;
}

.end-screen{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    place-items: center;
}

.cell {
    background-color: #f1f1f1;
    display: grid;
    place-items: center;
    font-size: 3rem;
}

.controller {
    display: flex;
    justify-content: space-around;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

footer {
    background-color: slateblue;
    display: grid;
    place-content: center;
}

.github-icon {
    max-width: 2rem;
}
